body{
    font-family:'poppins', sans-serif ;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    background-color: white;
    margin:0;
    padding:0;
}

h1{
    color: white;
    font-size: 80px;
    font-weight: 700;

}

div{
    height:100vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(at 27% 13%, 
    hsl(33, 87%, 27%) 0px, transparent 100%),
    radial-gradient(at 13% 64%, hsl(344, 100%, 51%) 0px,
    transparent 100%), radial-gradient(at 94% 36%, hsl(180, 100%, 64%) 0px,
    transparent 100%);
}